<main>
    <section id="company-info">
        <h2>Our Company</h2>
        <p>Welcome to Your Ecommerce Store, where we specialize in providing high-quality products with excellent customer service.</p>
    </section>

    <section id="mission">
        <h2>Our Mission</h2>
        <p>Our mission is to make shopping online easy, enjoyable, and reliable for our customers. We strive to offer the best selection of products and deliver exceptional value.</p>
    </section>

    <section id="team">
        <h2>Our Team</h2>
        <div class="team-member">
            <img src="assets/images/team-member1.jpeg" alt="Team Member 1">
            <h3>Nandita sinha</h3>
            <p>Co-founder and CEO</p>
        </div>
        
    </section>
</main>

